# Editor files
.vscode/**

# Temp and cache files
**/temp/**
**__pycache__**
notebooks/.ipynb_checkpoints/*

# Results
results/*
!results/sample_output/

# Test resources and results
**tests/data**
.coverage

# Logs
**/logs/*
**/*logs/*
**.log
**.out
**.err

# Database files
**.db
**.db.*
**.db-*

# Profiling and performance files
**.prof
timekeep.txt

# Customization files
config.template.json
config.json

# Package files
**.egg-info
